@font-face {
	font-family: RalewayBold;
	src: url(./assets/fonts/Raleway-ExtraBold.woff2) format('woff2'),
		url(./assets/fonts/Raleway-ExtraBold.woff) format('woff');
	font-weight: bold;
	font-display: swap;
}
@font-face {
	font-family: Raleway;
	src: url(./assets/fonts/Raleway-Regular.woff2) format('woff2'),
		url(./assets/fonts/Raleway-Regular.woff) format('woff');
	font-weight: normal;
	font-display: swap;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'RalewayBold', sans-serif;
}
*::before,
*::after {
	box-sizing: border-box;
}
html {
	height: 100%;
	overflow: hidden;
}
body {
	height: 100%;
	position: relative;
	overflow: hidden;
	display: grid;
	place-items: center;
}
video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	grid-area: 1 / 1;
}
h1 {
	width: 800px;
	text-align: center;
	text-transform: uppercase;
	font-size: 102px;
	position: relative;
	grid-area: 1 / 1;
	place-self: start center;
	margin-top: 100px;
	transition: 0.15s;
}
h1::after {
	content: '*';
}
h1:hover::before {
	content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.';
	white-space: pre;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	padding: 20px 40px;
	text-align: start;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 10px #000;
	position: absolute;
	top: 120px;
	left: 435px;
}
h1:hover {
	color: #484646;
}
